/* FONT IMPORTS */
@import url(https://fonts.google.com/specimen/Lexend+Deca);
@import url(https://fonts.google.com/specimen/Big+Shoulders+Display);

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {

/* COLORS */
    /* PRIMARY */
    --COLOR-BRIGHTORANGE: hsl(31, 77%, 52%);
    --COLOR-DARKCYAN: hsl(184, 100%, 22%);
    --COLOR-VERYDARKCYAN: hsla(179, 100%, 13%, 1);
    
    /* PARA,BG,HEADING,BUTTON */
    --COLOR-TRANSPARENTWHITE: hsla(0, 0%, 100%, 0.75);
    --COLOR-VERYLIGHTGRAY: hsl(0, 0%, 95%);

/* FONT */
    --FONT-LEXEND: 'Lexend Deca', sans-serif;
    --FONT-BIG-SHOULDERS: 'Big Shoulders Display', sans-serif;

/* FONT SIZE*/
    --FONTSIZE: 15px;

/* FONT WEIGHT */
    --FONTWEIGHT400: 400;
    --FONTWEIGHT700: 700;    
}

body {
    min-height: 100dvh;
    background-color: var(--COLOR-TRANSPARENTWHITE);
    display: grid;
    justify-content: center;
    align-items: center;
}

.columns_section {
    align-items: top;
    color: var(--COLOR-TRANSPARENTWHITE);
}

.column_header {
    font: 40px var(--FONT-BIG-SHOULDERS);
    font-weight: var(--FONTWEIGHT700);
    line-height: 48px;
    vertical-align: top;
    padding-top: 35px;
}

.column_content {
    font-family: var(--FONT-LEXEND);
    font-size: var(--FONTSIZE);
    line-height: 25px;
    font-weight: var(--FONTWEIGHT400);
    text-align: left;
}

.columns_section:nth-child(1) {
    background-color: var(--COLOR-BRIGHTORANGE);
}

.columns_section:nth-child(2) {
    background-color: var(--COLOR-DARKCYAN);
}

.columns_section:nth-child(3) {
    background-color: var(--COLOR-VERYDARKCYAN);
}

button {
    height: 49px;
    width: 146px;
    font-size: var(--FONTSIZE);
    border-radius: 30px;
    outline: none;
    border: 2px solid var(--COLOR-VERYLIGHTGRAY);
    cursor: pointer;
    transition: 200ms;
}

button:hover {
    color: var(--COLOR-TRANSPARENTWHITE);
    background-color: transparent;
}

.sedans {
    color: var(--COLOR-BRIGHTORANGE);
}

.suvs {
    color: var(--COLOR-DARKCYAN);
}

.luxury {
    color: var(--COLOR-VERYDARKCYAN);
}

@media only screen and (max-width: 375px) {

.main_container {
    display: flex;
    flex-direction: column;
}

.columns_section {
    max-width: 327px;
    height: 448px;
    padding: 48px;
}

.columns_section:nth-child(1) {
    border-radius: 8px 8px 0 0;
}

.columns_section:nth-child(3) {
    border-radius: 0 0 8px 8px;
}

.column_content {
    padding: 25px 0 25px 0;
}


}
    
@media only screen and (min-width: 376px) {

.main_container {
    display: flex;
    flex: nowrap;
}

.columns_section {
    max-width: 307px;
    height: 500px;
    
}
}